<div class="row pl-3">
  <div class="col-3 form-group">
    <label for="userName">User Name:</label>
    <input id="userName"
           class="form-control"
           type="text"
           data-lpignore="true"
           [(ngModel)]="userName"/>

  </div>
</div>
<div class="row pl-3">
  <div class="col-6 form-group">
    <label for="msg">Message:</label>
    <input id="msg"
           type="text"
           class="form-control"
           data-lpignore="true"
           (keyup)="msgKeyup($event)"
           [(ngModel)]="msg">
    <button type="submit"
            class="btn btn-outline-primary"
            [disabled]="!dataReadyForSend()"
            (click)="send()">Send
    </button>
  </div>
</div>

<div class="row pl-3">
  <div class="col-6">
    <span>Conversation</span>
    <ul class="list-unstyled">
      <li *ngFor="let message of messages">
        <span>{{message.timestamp | date : 'MM-dd-yyyy HH:MM:SS'}} {{message.userName}}: {{message.contents}}</span>
      </li>
    </ul>
  </div>
</div>
