<div class="row pl-3">
  <div class="col-3 form-group">
    <label for="userName">User Name:</label>
    <input id="userName"
           class="form-control"
           type="text"
           data-lpignore="true"/>

  </div>
</div>
<div class="row pl-3">
  <div class="col-6 form-group">
    <label for="msg">Message:</label>
    <input id="msg"
           type="text"
           class="form-control"
           data-lpignore="true">
    <button class="btn btn-outline-primary">Send</button>
  </div>
</div>

<div class="row pl-3">
  <div class="col-6">
    <span>Conversation</span>
    <ul class="list-unstyled">
      <li></li>
    </ul>
  </div>
</div>
